[submodule "vendors/openresty"]
	path = vendors/openresty
    url = https://github.com/openresty/openresty.git
    tag = v1.15.8.2
[submodule "3Party/nginx-auth-ldap"]
	path = 3Party/nginx-auth-ldap
	url = https://github.com/kvspb/nginx-auth-ldap.git
[submodule "3Party/lua_modules/lua-resty-cookie"]
	path = 3Party/lua_modules/lua-resty-cookie
	url = https://github.com/cloudflare/lua-resty-cookie.git
[submodule "3Party/lua_modules/lua-resty-http"]
	path = 3Party/lua_modules/lua-resty-http
	url = https://github.com/ledgetech/lua-resty-http.git
