[submodule "vendors/openresty"]
	path = vendors/openresty
	url = https://github.com/openresty/openresty.git
[submodule "ngx_http_geoip2_module"]
	path = ngx_http_geoip2_module
	url = https://github.com/leev/ngx_http_geoip2_module.git
