[submodule "vendors/openresty"]
	path = vendors/openresty
	url = https://github.com/openresty/openresty.git
[submodule "ngx_http_geoip2_module"]
	path = ngx_http_geoip2_module
	url = https://github.com/leev/ngx_http_geoip2_module.git
[submodule "3Party/nginx-auth-ldap"]
	path = 3Party/nginx-auth-ldap
	url = https://github.com/kvspb/nginx-auth-ldap.git
[submodule "3Party/nginx-sticky-module-ng"]
	path = 3Party/nginx-sticky-module-ng
	url = https://github.com/kvspb/nginx-auth-ldap.git
